[defaults]
inventory=christian_inventory



[galaxy]
server_list = aap ,frank

[galaxy_server.aap]
url=https://aap.lab.example.com/api/galaxy/content/rh-certified/
token=df729ba25548943d7a4f20b22d373f375e0c9720



[galaxy_server.frank]
url=https://galaxy.ansible.com/
