[defaults]
inventory = ./inventory
collections_path = /home/student/asn_eda/collections:~/.ansible/collections/ansible_collections/:/usr/share/ansible/collections

[galaxy]
server_list = validated, rh-certified

[galaxy_server.validated]
url=https://hub.lab.example.com/api/galaxy/content/validated/
token=54cc90b90883029225c4753a632257b3e6f5001a

[galaxy_server.rh-certified]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified/
token=54cc90b90883029225c4753a632257b3e6f5001a
